@model FightClub.Models.User

@{
    ViewBag.Title = "My page";
}


<div class="container user">

<h2>WELCOME @Model.Username</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvatarId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvatarId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatchesLeft)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatchesLeft)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Losses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Losses)
        </dd>

    </dl>
</div>

<div>

    <div class="challenge-form">
        <label>Challenge user:</label>
        <input class="username">
        <input type=button class="button-go" value="Go">
        <input type=button class="button-random" value="Random">
    </div>

</div>

</div>
<script src="/content/assets/dist/js/user.js"></script>