@model FightClub.Models.ArenaModel

@{
    ViewBag.Title = "My page";
}

<script>
    var loggedInUser = "@Model.User.Username";
</script>

<div class="container user">

<h2>WELCOME @Model.User.Username</h2>

<div class="avatar player-1"><img src="/content/assets/dist/img/bamse_avatar.png"></div>

<div>
    <dl class="dl-horizontal">
@*         <dt>
            @Html.DisplayNameFor(model => model.User.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.AvatarId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.AvatarId)
        </dd>

 *@        <dt>
            @Html.DisplayNameFor(model => model.User.MatchesLeft)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.MatchesLeft)
        </dd>
@* 
        <dt>
            @Html.DisplayNameFor(model => model.User.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.LastModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.LastModified)
        </dd>
 *@
        <dt>
            @Html.DisplayNameFor(model => model.User.Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Wins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Wins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Losses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Losses)
        </dd>
        <dt>Played matches</dt>
        <dd>
            @Model.PlayedMatches.Count
            @{
                foreach (var match in Model.PlayedMatches)
                {
                    Html.ActionLink(string.Format("Replay {0} vs {1}", match.User1, match.User2), "Replay", "Match", new {id = match.Id});
                }
            }
        </dd>
        <dt>Pending matches</dt>
        <dd>
            @Model.PendingMatches.Count
            @{
                foreach (var match in Model.PendingMatches)
                {
                    Html.ActionLink(string.Format("Fight from {0}", match.User1), "Anwser", "Match", new { id = match.Id });
                }
            }
        </dd>
    </dl>
</div>

<div>

    <div class="challenge-form">
        <label>Challenge user:</label>
        <input class="username">
        <input type=button class="button-go" value="Go">
        <input type=button class="button-random" value="Random">
    </div>

</div>

</div>
<script src="/content/assets/dist/js/user.js"></script>