@model FightClub.Models.Match

@{
    ViewBag.Title = "Prepare for battle!";
}


<div class="container battle-prepare">
    <header>
        <div class="player-name player-1">@Model.User1</div>
        <div class="versus">VS</div>
        <div class="player-name player-2">@Model.User2</div>
    </header>
    <div class="actions">
        <div class="header">
            <div>Round 1</div>
            <div>Round 2</div>
            <div>Round 3</div>
        </div>
        <div class="action-area">
            <div class="action"><button data-round="1" data-area="high" data-action=""></button></div>
            <div class="action"><button data-round="2" data-area="high" data-action=""></button></div>
            <div class="action"><button data-round="3" data-area="high" data-action=""></button></div>
        </div>
        <div class="action-area">
            <div class="action"><button data-round="1" data-area="mid" data-action=""></button></div>
            <div class="action"><button data-round="2" data-area="mid" data-action=""></button></div>
            <div class="action"><button data-round="3" data-area="mid" data-action=""></button></div>
        </div>
        <div class="action-area">
            <div class="action"><button data-round="1" data-area="low" data-action=""></button></div>
            <div class="action"><button data-round="2" data-area="low" data-action=""></button></div>
            <div class="action"><button data-round="3" data-area="low" data-action=""></button></div>
        </div>
    </div>
    <button class="fight">Fight</button>
</div>

@using (Html.BeginForm(ViewBag.ActiveUser == "User1" ? "Create" : "Update","Match",FormMethod.Post))
{
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.User1)
    @Html.HiddenFor(model => model.User2)
    if (ViewBag.ActiveUser == "User1") { 
        @Html.HiddenFor(model => model.User1Move1)
        @Html.HiddenFor(model => model.User1Move2)
        @Html.HiddenFor(model => model.User1Move3)
    }
    else
    {
        @Html.HiddenFor(model => model.User2Move1)
        @Html.HiddenFor(model => model.User2Move2)
        @Html.HiddenFor(model => model.User2Move3)
    }

    <div class="form-horizontal">
        <h4>Match</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Commit" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<script src="/content/assets/dist/js/prepare.js"></script>
